<launch>
	<!-- Launch serialOutput node -->
	<node pkg="urGovernor" type="serialOutput" name="serialOutput" output="screen">
		<rosparam command="load" file="$(find urGovernor)/config/governor.yaml" />
	</node>

	<!-- Launch deltaTest node -->
	<node pkg="urGovernor" type="deltaTest" name="deltaTest" output="screen">
		<rosparam command="load" file="$(find urGovernor)/config/governor.yaml" />
	</node>

	<!-- Launch controller node -->
	<!-- Just give the governor a bit of time to start up -->
	<arg name="node_start_delay" default="2.0" />  
	<node pkg="urGovernor" type="controller" name="controller" output="screen" 
			launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
		<rosparam command="load" file="$(find urGovernor)/config/governor.yaml" />
		<rosparam command="load" file="$(find urGovernor)/config/controller.yaml" />
		<rosparam command="load" file="$(find urGovernor)/config/kinematics.yaml" />
	</node>

</launch>
